#title {
    margin-top: 12px;
    background-color: #fff;
    color: #000;
}

#footer {
    margin-top: 20px;
    text-align: center;
    background-color: #000;
    color: #fff;
}

.navbar {
    background-color: #0099cc!important;

}

.navbar-nav li a {
    color:white!important;
}